*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$theme: #ff7d1b;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Playfair+Display:wght@400;500;700&family=Poppins:wght@200;400;700&display=swap');