@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Playfair+Display:wght@400;500;700&family=Poppins:wght@500;400;700&display=swap');
*{
    font-family: 'Poppins';
}

.open-cart{
    transform: scale(1)!important;
}

.Cart{
    display: hidden;
    position: absolute;
    height: max-content;
    background-color: white;
    right:1%;
    top: 90px;
    transform: scale(0);
    transition: transform .5 ease-in-out;
    z-index: 99;
    // border: 1px red solid;
    border-radius: 1em;
    width: 98%;
    box-shadow: 0 0 3px 2px rgba($color: #000000, $alpha: .2);
}

.cart-heading{
    font-weight: bold;
    padding: 2em;
}

hr{
    color: rgb(169, 169, 169);
}

.cart-items{
    display: flex;
    padding: 1em;
    gap: 1em;
    align-items: center;
    justify-content: space-around;
    color: rgb(100, 100, 100);

    img{
        width: 12%;
        height: 12%;
        border-radius: .5em;
    }
}

.cart-content{
    padding: 0;
    margin: 0;
    width: 18em;

    .cart-heading{
        padding: 0em;
        margin-bottom: 3%;
        font-weight: 400;
    }

    .price-row{
        display: flex;
        gap: .3em;

        .final-price{
            color: black;
            font-weight: bold;
        }
    }
}

.no-items{
    padding: 2em;
    font-weight: bold;
}

.delete{
    cursor: pointer;
}

@media only screen and (min-width:700px) {
    .Cart{
        width: 25% !important;
        // border: 1px solid black;
        box-shadow: 0 0 3px 2px rgba($color: #000000, $alpha: .2);
    }
    .cart-heading{
        padding: 1em 2em;
    }

    
}